In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key

from config import g_key

### Store Part I results into DataFrame
* Load the csv exported in to a DataFrame

In [2]:
# Store csv created in part one into a DataFrame
city_data_df = pd.read_csv("weather_data/clean_cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Port Elizabeth,ZA,2022-06-11 18:54:19,-33.9180,25.5701,62.89,59,100,3.44
1,1,San Patricio,US,2022-06-11 18:55:18,28.0170,-97.5169,98.08,29,2,15.61
2,2,Gadwal,IN,2022-06-11 18:55:19,16.2333,77.8000,84.70,57,94,16.67
3,3,Qaanaaq,GL,2022-06-11 18:51:47,77.4840,-69.3632,30.24,72,100,2.37
4,4,Phrae,TH,2022-06-11 18:55:19,18.0833,100.0000,72.10,91,80,2.42

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
# Configure gmaps
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of temperature
locations = city_data_df[["Lat", "Lng"]]
max_temp = city_data_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)


fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [10]:
# Ask the customer to add a minimumn and maximum temperature value. 
#  The minimum temperature should not be lower than "0 °F". i.e., negative. 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)] 
                                    
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Gadwal,IN,2022-06-11 18:55:19,16.2333,77.8000,84.70,57,94,16.67
11,11,Bethel,US,2022-06-11 18:50:34,41.3712,-73.4140,77.36,57,0,1.01
12,12,Avarua,CK,2022-06-11 18:55:23,-21.2078,-159.7750,77.05,61,75,5.75
14,14,Atuona,PF,2022-06-11 18:55:24,-9.8000,-139.0333,77.50,67,7,14.23
20,20,Hilo,US,2022-06-11 18:53:15,19.7297,-155.0900,81.28,83,100,19.57
21,21,Yarmouth,US,2022-06-11 18:55:27,41.7057,-70.2286,77.25,50,0,11.01
30,30,Salalah,OM,2022-06-11 18:55:34,17.0151,54.0924,85.15,83,91,7.67
31,31,Tiznit,MA,2022-06-11 18:55:35,29.5833,-9.5000,77.20,56,2,6.42
33,33,Puerto Ayora,EC,2022-06-11 18:52:13,-0.7393,-90.3518,76.96,88,57,8.01
35,35,Georgetown,MY,2022-06-11 18:55:37,5.4112,100.3354,76.98,94,40,5.01

In [12]:
preferred_cities_df.notnull().sum()

City_ID       178
City          178
Country       178
Date          178
Lat           178
Lng           178
Max Temp      178
Humidity      178
Cloudiness    178
Wind Speed    178
dtype: int64

In [13]:
preferred_cities_df.count()

City_ID       178
City          178
Country       178
Date          178
Lat           178
Lng           178
Max Temp      178
Humidity      178
Cloudiness    178
Wind Speed    178
dtype: int64

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Get the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
2         Gadwal      IN     84.70  16.2333   77.8000
11        Bethel      US     77.36  41.3712  -73.4140
12        Avarua      CK     77.05 -21.2078 -159.7750
14        Atuona      PF     77.50  -9.8000 -139.0333
20          Hilo      US     81.28  19.7297 -155.0900
21      Yarmouth      US     77.25  41.7057  -70.2286
30       Salalah      OM     85.15  17.0151   54.0924
31        Tiznit      MA     77.20  29.5833   -9.5000
33  Puerto Ayora      EC     76.96  -0.7393  -90.3518
35    Georgetown      MY     76.98   5.4112  100.3354

In [15]:
# Set parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through 
for city, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make request and get the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[city, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Gadwal,IN,84.70,16.2333,77.8000,MS RESIDENCY
11,Bethel,US,77.36,41.3712,-73.4140,Courtyard by Marriott Danbury
12,Avarua,CK,77.05,-21.2078,-159.7750,Paradise Inn
14,Atuona,PF,77.50,-9.8000,-139.0333,Villa Enata
20,Hilo,US,81.28,19.7297,-155.0900,Hilo Hawaiian Hotel
21,Yarmouth,US,77.25,41.7057,-70.2286,Blue Rock Resort
30,Salalah,OM,85.15,17.0151,54.0924,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
31,Tiznit,MA,77.20,29.5833,-9.5000,
33,Puerto Ayora,EC,76.96,-0.7393,-90.3518,Finch Bay Galapagos Hotel
35,Georgetown,MY,76.98,5.4112,100.3354,Cititel Penang

In [17]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
                                 max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Using the template add the hotel marks to the heatmap using HTML Code
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""


# Using List Comprehension to store DataFrame Row. This list comprehnsion is from the Google Maps Documentation for markers
hotel_info = [info_box_template.format(**row) for item, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [20]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(map_type="SATELLITE", center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
                                 dissipating=False, max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))